[user]
	name = Afonso R. Costa Jr.
	email = arabelo@gmail.com
[core]
	editor = vim
	deltaBaseCacheLimit = 1G
[rerere]
	enabled = 1
[push]
	default = current
	followtags = true
[rebase]
	autostash = true
[pull]
	rebase = true
