[user]
	name = Afonso R. Costa Jr.
	email = arabelo@gmail.com
[color]
	branch = auto
	diff = auto
	status = auto
[color "status"]
	untracked = yellow
[color "diff"]
	frag = cyan bold
	old = red bold
	new = green bold
[core]
	editor = vim
	deltaBaseCacheLimit = 1G
[alias]
	amend = commit --amend
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cgreen\\ [%cn]" --decorate
	lf = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cgreen\\ [%cn]" --decorate --numstat
	ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cgreen\\ [%cn]" --decorate --date=short
	unstage = reset HEAD --
	files = diff-tree --no-commit-id --name-only -r
